div.sc-form {
  border-radius: 0.25rem;
  background-color: %BG_COLOR%;
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 20px;
  text-align: center;
}

div.sc-form.has-error {
  border: 2px solid %ERR_COLOR%;
}

div.sc-form p {
  text-align: center;
  margin: 0.5rem;
}

div.sc-form p.sc-error {
  color: orangered;
  margin: 1rem;
}

div.sc-form input[type="checkbox"] {
  opacity: 0;
}

div.sc-form label {
  position: relative;
  left: -15px;
}

div.sc-form label .sc-img {
  font-size: 1.6em;
}

div.sc-form label .sc-img.selected {
  color: %SELECT_COLOR%;
}